html, body{
	padding:0;
	width:100%;
	margin:0;
	font-family: Roboto, Helvetica, Arial;
}

@keyframes bounce {
    0% { transform: translate(0px,0px) }
    50% { transform: translate(0px,20px) }
    100% { transform: translate(0px,0px) }
}

#Vue {
	display:none;
}

#Vue.v-cloak {
	display:block;
}


section {
	background-color: #eee;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	margin:0;
	padding:20px;
	text-align:center;
}

section:first-child{
    min-height:100vh;
}

section:first-child h1 {
    color: white;
    font-weight: 300;
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
    width: 50%;
    margin-left: 25%;
}

section:first-child h2 {
    font-weight: 200;
    color: white;
    text-decoration: underline;
    font-style: italic;
}

section:first-child button {
    background: white;
    width: 75px;
    height: 75px;
    color: #3498db;
    border: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

section:first-child button i{
    font-size:50px;
}

section#presentation h1 {
    color: #222;
    font-weight: 600;
    font-size: 36px;
    max-width: 50%;
    margin-left: 25%;
}

section#presentation h2 {
    color: #666;
    font-weight: 400;
    max-width: 50%;
    margin-left: 25%;
    padding-top: 25px;
    padding-bottom: 25px;
}

section#presentation a {
    display: inline-block;
color: white;
background: #3498db;
padding: 25px;
padding-left: 50px;
padding-right: 50px;
text-decoration: none;
font-weight: 500;
font-size: 25px;
}

section#Vue button{
	background: lightblue;
	color:white;
	border:none;
	padding:25px;
	padding-left: 50px;
	padding-right:50px;
	font-size: 25px;
    cursor:pointer;
}

section article {
	background: white;
	width:80%;
	margin-left:10%;
	padding-top:20px;
	padding-bottom: 20px;
}

section#email h1 {
    color: #222;
    font-weight: 600;
    font-size: 36px;
    max-width: 50%;
    margin-left: 25%;
}

section#email h2 {
    color: #666;
    font-weight: 400;
    max-width: 50%;
    margin-left: 25%;
    padding-top: 25px;
    padding-bottom: 25px;
}

section#email input {
        border: none;
    width: 400px;
    height: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #444;
    padding-left: 20px;
    font-size: 25px;

}

section#email button {
height: 75px;
background: #3498db;
border: none;
color: white;
line-height: 75px;
font-size: 25px;
padding-left: 25px;
padding-right: 25px;

}

section#email p {
font-style: italic;
font-size: 25px;
padding: 0;
margin: 0;
font-weight: 300;

}

.footer {
	background: #222;
	color: #eee;
	text-align: center;
}

